pipeline/edw_fact_policy_fund_transaction_fee_pipeline.json
{
	"name": "edw_fact_policy_fund_transaction_fee_pipeline",
	"properties": {
		"activities": [
			{
				"name": "ExecuteStoredProc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadToStaging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_fact_policy_fund_transaction_fee]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoadToStaging",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ExecuteStoredProc Load",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ExecuteStoredProc Fund",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ExecuteStoredProc UnitHolder",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ExecuteStoredProc Policy",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ExecuteStoredProc Product",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "edw_sql_policy_fund_transaction_fee_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"BatchId": {
								"value": "'@{variables('BatchId')}'",
								"type": "Expression"
							},
							"FileName": {
								"value": "'@{pipeline().parameters.SourceFileName}'",
								"type": "Expression"
							},
							"FileDirectory": {
								"value": "'@{variables('ExtractFileDirectory')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"TransactionFeeSource": {
								"ExtractFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"ExtractFileDirectory": {
									"value": "@variables('ExtractFileDirectory')",
									"type": "Expression"
								}
							},
							"LoadToFactTransactionFeeStage": {
								"TableName": "fact_policy_fund_transaction_fee"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "KeepAlive-Runtime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ExtractSourceData",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "SetFileDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CreateBatchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "edw_extract_policy_fund_transaction_fee_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"ExtractFileName": {
								"value": "'@{pipeline().parameters.SourceFileName}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"FactTransactionFeeSource": {
								"LandingFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"LandingFileDirectory": {
									"value": "@variables('LandingFileDirectory')",
									"type": "Expression"
								}
							},
							"ExportFactTransactionFeeData": {
								"ExtractFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"ExtractFileDirectory": {
									"value": "@variables('ExtractFileDirectory')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceParameters": {
							"ExportFactTransactionFeeData": {
								"linkedService": {
									"ExtractFileName": "ExtractedDistribution2023-01-13T11:58:51.2875137Z"
								},
								"rejectedDataLinkedService": {
									"ExtractFileName": "ExtractedDistribution2023-01-13T11:58:51.2875137Z"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "KeepAlive-Runtime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SetFileDirectory",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExtractFileDirectory",
					"value": {
						"value": "@concat(\n    'policy fund transaction fee/', \n    formatDateTime(utcNow(), 'yyyy'), \n    '/',\n    formatDateTime(utcNow(), 'MM'), \n    '/',\n    formatDateTime(utcNow(), 'dd')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CreatePlaceholders",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ExtractSourceData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "edw_placeholder_policy_fund_transaction_fee_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"BatchId": {
								"value": "'@{variables('BatchId')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"FactTransactionFeeSource": {
								"ExtractFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"ExtractFileDirectory": {
									"value": "@variables('ExtractFileDirectory')",
									"type": "Expression"
								}
							},
							"LoadLoadFact": {
								"TableName": "fact_load"
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "KeepAlive-Runtime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "WriteToDatabricks",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ExtractSourceData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Notebooks/etl/stage/LoadDatalake",
					"baseParameters": {
						"batch_id": {
							"value": "@variables('BatchId')",
							"type": "Expression"
						},
						"file_name": {
							"value": "@pipeline().parameters.SourceFileName",
							"type": "Expression"
						},
						"is_atomic": {
							"value": "@variables('IsAtomic')",
							"type": "Expression"
						},
						"table": {
							"value": "@variables('StageTableName')",
							"type": "Expression"
						},
						"key_column": "FactFundFeeTransactionKey",
						"data_source": {
							"value": "@variables('DataSource')",
							"type": "Expression"
						},
						"provider": {
							"value": "@variables('Provider')",
							"type": "Expression"
						},
						"file_directory": {
							"value": "@variables('ExtractFileDirectory')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CreateBatchId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchId",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ExecuteStoredProc Product",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CreatePlaceholders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_entity_all_product]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteStoredProc Policy",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CreatePlaceholders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_entity_all_policy]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteStoredProc UnitHolder",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CreatePlaceholders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_entity_all_unit_holder]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteStoredProc Fund",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CreatePlaceholders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_entity_all_fund]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_database",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteStoredProc Load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CreatePlaceholders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_fact_load]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_database",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SourceFileName": {
				"type": "string",
				"defaultValue": "TransactionFee20220922233723.txt"
			}
		},
		"variables": {
			"IsAtomic": {
				"type": "String",
				"defaultValue": "false"
			},
			"DataSource": {
				"type": "String",
				"defaultValue": "Policy Fund Transaction Fee Static Data"
			},
			"Provider": {
				"type": "String",
				"defaultValue": "PPS"
			},
			"StageTableName": {
				"type": "String",
				"defaultValue": "fact_policy_fund_transaction_fee"
			},
			"BatchId": {
				"type": "String"
			},
			"LandingFileDirectory": {
				"type": "String",
				"defaultValue": "policy fund transaction fee"
			},
			"ExtractFileDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EDW/Fact"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-06T10:00:41Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}