pipeline/edw_fact_load_pipeline.json
{
	"name": "edw_fact_load_pipeline",
	"properties": {
		"activities": [
			{
				"name": "LoadToStaging",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ExtractSourceData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "edw_sql_load_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"BatchId": {
								"value": "'@{variables('BatchId')}'",
								"type": "Expression"
							},
							"FileName": {
								"value": "'@{pipeline().parameters.SourceFileName}'",
								"type": "Expression"
							},
							"FileDirectory": {
								"value": "'@{variables('ExtractFileDirectory')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"LoadSource": {
								"ExtractFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"ExtractFileDirectory": {
									"value": "@variables('ExtractFileDirectory')",
									"type": "Expression"
								}
							},
							"LoadToEntityLoadStage": {
								"TableName": {
									"value": "@variables('StageTableName')",
									"type": "Expression"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "KeepAlive-Runtime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ExecuteStoredProc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LoadToStaging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stage].[load_fact_load]",
					"storedProcedureParameters": {
						"BatchId": {
							"value": {
								"value": "@variables('BatchId')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataSource": {
							"value": {
								"value": "@variables('DataSource')",
								"type": "Expression"
							},
							"type": "String"
						},
						"IsAtomic": {
							"value": {
								"value": "@variables('IsAtomic')",
								"type": "Expression"
							},
							"type": "Boolean"
						},
						"Provider": {
							"value": {
								"value": "@variables('Provider')",
								"type": "Expression"
							},
							"type": "String"
						},
						"FileName": {
							"value": {
								"value": "@pipeline().parameters.SourceFileName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "pps_edw_dev_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExtractSourceData",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "SetFileDirectory",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CreateBatchId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "edw_extract_load_dataflow",
						"type": "DataFlowReference",
						"parameters": {
							"ExtractFileName": {
								"value": "'@{pipeline().parameters.SourceFileName}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"LoadSource": {
								"LandingFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"LandingFileDirectory": {
									"value": "@variables('LandingFileDirectory')",
									"type": "Expression"
								}
							},
							"ExportExtractedLoadData": {
								"ExtractFileName": {
									"value": "@pipeline().parameters.SourceFileName",
									"type": "Expression"
								},
								"ExtractFileDirectory": {
									"value": "@variables('ExtractFileDirectory')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceParameters": {
							"ExportExtractedLoadData": {
								"linkedService": {
									"ExtractFileName": "ExtractedDistribution2023-01-13T11:58:51.2875137Z"
								},
								"rejectedDataLinkedService": {
									"ExtractFileName": "ExtractedDistribution2023-01-13T11:58:51.2875137Z"
								}
							}
						}
					},
					"integrationRuntime": {
						"referenceName": "KeepAlive-Runtime",
						"type": "IntegrationRuntimeReference"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "SetFileDirectory",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExtractFileDirectory",
					"value": {
						"value": "@concat(\n    'load/', \n    formatDateTime(utcNow(), 'yyyy'), \n    '/',\n    formatDateTime(utcNow(), 'MM'), \n    '/',\n    formatDateTime(utcNow(), 'dd')\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WriteToDatabricks",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ExtractSourceData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/Notebooks/etl/stage/LoadDatalake",
					"baseParameters": {
						"batch_id": {
							"value": "@variables('BatchId')",
							"type": "Expression"
						},
						"file_name": {
							"value": "@pipeline().parameters.SourceFileName",
							"type": "Expression"
						},
						"is_atomic": {
							"value": "@variables('IsAtomic')",
							"type": "Expression"
						},
						"table": {
							"value": "@variables('StageTableName')",
							"type": "Expression"
						},
						"key_column": "LoadID",
						"data_source": {
							"value": "@variables('DataSource')",
							"type": "Expression"
						},
						"provider": {
							"value": "@variables('Provider')",
							"type": "Expression"
						},
						"file_directory": {
							"value": "@variables('ExtractFileDirectory')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricksLinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "CreateBatchId",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "BatchId",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceFileName": {
				"type": "string",
				"defaultValue": "Load20220922233723.txt"
			}
		},
		"variables": {
			"IsAtomic": {
				"type": "String",
				"defaultValue": "false"
			},
			"DataSource": {
				"type": "String",
				"defaultValue": "Load Static Data"
			},
			"Provider": {
				"type": "String",
				"defaultValue": "PPS"
			},
			"StageTableName": {
				"type": "String",
				"defaultValue": "fact_load"
			},
			"BatchId": {
				"type": "String"
			},
			"LandingFileDirectory": {
				"type": "String",
				"defaultValue": "load"
			},
			"ExtractFileDirectory": {
				"type": "String"
			}
		},
		"folder": {
			"name": "EDW/Fact"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-06T08:25:12Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}